@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700;900&family=Mulish:wght@600&display=swap");

:root {
  --pc: #2196f3;
  --sc: #04273a;
  --parac: rgba(255, 255, 255, 0.694);
  --border: 1px solid red;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Mulish", sans-serif;
  font-size: 18px;
  color: var(--parac);
}

body {
  /* border: 2px solid red; */
  padding: 0px 25px;
  background-color: var(--sc);
  /* height: 100vh; */
  /* content: "";
    background-image: "/logo.png"; */
  /* width: 100vw; */
}

/* Navbar */

.navLinks {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 25px;
  top: 75px;
  background-color: var(--sc);
  padding: 10px 10px 20px 10px;
  border: 2px solid var(--pc);
}

.hidden {
    display: none;
  }
  

#logo img {
  width: 3rem;
  padding: 20px 0px;
  /* border: 1px solid red; */
}
nav {
  display: flex;
  /* align-items: center; */
}
.navLinks a {
  text-decoration: none;
  font-size: 16px;
  margin: 0px 8px;
  padding: 8px 12px;
  border: 2px solid var(--sc);
  border-bottom: 2px solid var(--pc);
  transition: border 0.25s;
}

.navLinks a:hover {
  border: 2px solid var(--pc);
}

.toggleBTN img {
  width: 40px;
  position: absolute;
  top: 30px;
  right: 20px;
  /* border: var(--border); */
}

/* index.html */
/* Hero section */
#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 30vh 0px 0px 0px;
}

#hero h1 {
  font-family: "Big Shoulders Display", cursive;
  font-size: 65px;
  font-weight: 900;
  color: var(--pc);
  /* width: 850px; */
}

#weight {
  font-family: "Big Shoulders Display", cursive;
  font-size: 65px;
  font-weight: 700;
  color: var(--pc);
}
#hero h4 {
  font-size: 18px;
  color: var(--pc);
  /* width: 850px; */
  margin: 0px 0px 0px 0px;
}

#hero p {
  margin: 20px 0px;
  width: 95%;
  /* border: var(--border); */
  line-height: 30px;
}

/* upcomingEvents.html */
/* Upcoming Events */

#upcomingEvents h1 {
  font-family: "Big Shoulders Display", cursive;
  font-size: 75px;
  font-weight: 700;
  color: var(--pc);
  /* width: 850px; */
  margin: 20px 0px;
}

#upcomingEvents h1 span {
  font-family: "Big Shoulders Display", cursive;
  font-size: 25px;
  /* padding: 100px; */
  margin: 20px;
  font-weight: 700;
  color: var(--pc);
}

#upcomingEvents h3 {
  font-size: 28px;
  color: var(--pc);
}
#upcomingEvents h4 {
  font-size: 23px;
  margin: 30px 0px;
  color: var(--pc);
}

#upcomingEvents p {
  margin: 30px 0px;
  padding: 10px 0px;
  width: 95%;
  /* border: var(--border); */
  line-height: 30px;
  letter-spacing: 1.5px;
}

/* team.html */
/* Our Team */

#ourTeamPage h1 {
  font-family: "Big Shoulders Display", cursive;
  font-size: 75px;
  font-weight: 700;
  color: var(--pc);
  /* width: 850px; */
  margin: 20px 0px;
}

.team {
  padding: 30px 0px 60px 0px;
  display: grid;
  grid-template-columns: repeat(2, 48%);
  grid-gap: 1rem;
}

.profileCards {
  border: 2px solid var(--pc);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.profileCards > * {
  margin: 5px 0px;
}

.profileCards h3 {
  color: var(--pc);
  font-size: 20px;
}

.profileCards img {
  width: 75%;
}

/* contact.html */
/* Contact */

#contactPage h1 {
  font-family: "Big Shoulders Display", cursive;
  font-size: 65px;
  font-weight: 700;
  color: var(--pc);
  /* width: 850px; */
  margin: 20px 0px;
}

#contact {
  display: flex;
  /* border: 1px solid red; */
}

#contactForm {
  /* border: 1px solid green; */
  width: 95%;
}

form {
  display: flex;
  flex-direction: column;
  /* width: 90%; */
  align-items: left;
  justify-content: center;
}

.inputs {
  width: 100%;
  /* height: 2.5rem; */
  margin: 10px 0px;
  padding: 10px;
  border: 2px solid var(--pc);
  background-color: var(--sc);
}

#contactForm button {
  width: 100%;
  /* height: 2.5rem; */
  margin: 10px 0px;
  padding: 10px;
  border: 2px solid var(--pc);
  background-color: var(--pc);
  color: var(--sc);
  transition: background-color, 0.25s;
}

#contactForm button:hover {
  background-color: var(--sc);
  color: var(--pc);
}

#teamLogo {
  display: none;
}
