@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700;900&family=Mulish:wght@600&display=swap");

/* font-family: "Mulish", sans-serif; */
/* font-family: 'Big Shoulders Display', cursive; */

:root {
  --pc: #2196f3;
  --sc: #04273a;
  --sc-l: #063955;
  --neu: rgba(255, 255, 255, 0.694);
}

html {
  font-size: 16px;
  background-color: var(--sc);
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Mulish", sans-serif;
  color: var(--neu);
}

img {
  max-width: 100%;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1em 1.5em;
}

.sec__heading {
  font-size: 2.8rem;
  color: var(--pc);
  font-family: "Big Shoulders Display", cursive;
  font-weight: 900;
}

.sec__heading--fs {
  font-size: 1.8rem;
}

.sec__sub-heading {
  color: var(--pc);
  font-size: 1.5rem;
  font-family: "Big Shoulders Display", cursive;
  font-weight: 900;
  margin-bottom: 0.25em;
}

.sec__paragrah {
  font-size: 1.125rem;
  margin: 0.8em 0;
}

/* Navbar */

.sec__nav {
  /* background-color: var(--sc-l); */
}

.nav__icon-Btn {
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 2rem;
  height: 2rem;
  padding-bottom: 2.5em;
}

.navLinks {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.navLinks__items {
  text-decoration: none;
  margin: 0.5em 0;
  border: 2px solid var(--sc);
  border-bottom: 2px solid var(--pc);
  padding: 0.4em 0;
}

.navLinks__items:hover {
  border: 2px solid var(--pc);
}

.hidden {
  display: none;
}

/* Hero Section */

.sec__hero {
  /* border: 2px solid red; */
  text-align: center;
  /* padding: 4rem 0; */
}

.sec__hero__bg {
  background-image: url(./images/haco1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: max(45%, 300px);
  padding: 6rem 0;
  /* opacity: 0.3; */
}

.sec__hero__heading {
  color: var(--pc);
  font-family: "Big Shoulders Display", cursive;
  font-size: 3.8rem;
  font-weight: 900;
}

.sec__hero__heading--weight {
  font-weight: 700;
}

.sec__hero__sub-heading {
  color: var(--pc);
  font-size: 0.75rem;
}

.sec__hero__paragraph {
  margin: 0.4em auto;
  max-width: 550px;
  text-align: center;
}

/* Our Team */
.profileCards {
  border: 2px solid var(--pc);
  /* width: 25%; */
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.6em 0;
  gap: 0.5em;
  margin: 0.5em 0em;
}

.team {
  display: flex;
  flex-wrap: wrap;
  gap: 0.4em;
  /* margin: 0 auto; */
  justify-content: space-around;
  width: 100%;
}

/* Contact Page */

.inputs {
  width: 100%;
  /* height: 2.5rem; */
  margin: 10px 0px;
  padding: 10px;
  border: 2px solid var(--pc);
  background-color: var(--sc);
}

.contact button {
  width: 100%;
  /* height: 2.5rem; */
  margin: 10px 0px;
  padding: 10px;
  border: 2px solid var(--pc);
  background-color: var(--pc);
  color: var(--sc);
  transition: background-color, 0.25s;
}

.contact button:hover {
  background-color: var(--sc);
  color: var(--pc);
}

@media (min-width: 600px) {
  .toggleBTN {
    display: none;
  }

  .navLinks {
    display: flex;
    flex-direction: row;
  }

  .navLinks__items {
    margin: 0 0.3em;
    padding: 0.6em 1.2em;
    font-size: 1.15rem;
  }

  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .sec__hero__heading {
    font-size: 12rem;
  }

  .sec__hero__sub-heading {
    font-size: 2rem;
  }

  .sec__heading {
    font-size: 6rem;
  }

  .sec__heading--fs {
    font-size: 2.2rem;
  }

  .sec__sub-heading {
    font-size: 2.5rem;
  }

  .sec__paragrah {
    font-size: 1.35rem;
  }

  .contact__container {
    width: 50%;
  }
}
